@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Faculty+Glyphic&family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Kurale&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
  --font-Pop: "Poppins", sans-serif; 
  --font-Kurale: "Kurale", sans-serif; 
  --font-Comm: "Commissioner", sans-serif; 
  --font-Elms: "Elms Sans", sans-serif; 
  --font-Peralta: "Peralta", sans-serif; 
  --font-Englebert: "Englebert", sans-serif; 
  --font-Faculty: "Faculty Glyphic", sans-serif; 
  --font-Marck: "Marck Script", sans-serif; 
  --font-LexendMega: "Lexend Mega", sans-serif; 

  /* colors  */
  --color-blue100: #F4F7FE;
  --color-blue500: #00ABE6;
  --color-blue800: #336663;

  --color-red500: #E62500;

  --color-orange500: #E67500;
  --color-orange800: #E67500;

  --color-lemon100: #E8FEF7;
  --color-cyan500: #01E6D7;


  --color-brown700: #915030;
}

@keyframes verticalLoop {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}
.animate-vertical-loop {
  animation: verticalLoop 15s linear infinite;
}
